.tm-sidebar-left {
  position: fixed;
  top: 90px;
  bottom: 0;
  box-sizing: border-box;
  width: 350px !important;
  padding: 40px 40px 60px 40px;
  border-right: 1px #e5e5e5 solid;
  overflow: auto;
}

.tm-main {
  padding-left: 350px !important;
  margin-top: 50px;
}

.uk-logo {
  border: 4px solid #333;
  border-radius: 0px 100px 100px 100px;
  margin: 10px;
  padding: 5px 20px;
  min-height: 50px;
  font-weight: 900;
}

.driver-link-avatar {
  width: 50px;
  float: left;
  margin-right: 10px;
}

.driver-profile-avatar {
  margin-top: 30px;
}

.driver-link {
  display: block;
  margin-bottom: 10px;
  color: #333;
  padding: 20px;
}

.driver-link:hover,
.driver-link.active {
  text-decoration: none;
  color: #333;
  background-color: #eee;
}

.uk-navbar ul li a {
  letter-spacing: 1px;
  font-size: 0.9em;
  min-height: 20px;
  font-weight: bold;
  color: #333;
  padding: 0 0 5px;
  margin: 0 15px;
}

.profile-id {
  margin-top: -20px;
}

.uk-icon {
  margin-right: 10px;
  padding-left: 5px;
}
.active-page {
  border-bottom: 5px solid #333;
}
